html#help,
.generated.wholething, .about.wholething /* XXX:,
tabbox, tabpanels, tabpanel */ {
 background: url("background.jpeg");
}
tabpanels {
 padding: 0px;
}

tree {
 margin-top: 2px;
 color: #2d354a;
 font-size: 90%;
}
tree treechildren { /* for windows */
 background: #c5ffc5;
}

tree#uploadlist treechildren::-moz-tree-cell-text(pending) {
}
tree#uploadlist treechildren::-moz-tree-cell-text(completed) {
 color: black;
}
tree#uploadlist treechildren::-moz-tree-row(failed) {
 background: yellow;
}
tree#uploadlist treechildren::-moz-tree-cell-text(failed) {
 color: red;
}
tree#uploadlist treechildren::-moz-tree-cell-text(uploading) {
 font-weight: bold;
}

groupbox#searchresult_props,
groupbox.search_params,
groupbox#upload_file_props,
groupbox#set_props,
groupbox#set_photo_props {
 background: white;
}

groupbox#upload_file_props label {
 text-align: right;
}

image#search_photo, image#set_photo, image#set_primary {
 border: black 1px solid;
}

.about .insides {
 margin: 1ex;
}
.about .text {
 border: yellow solid 1px;
 background: green;
}
.about .title {
 font-size: 300%;
 font-weight: bold;
 color: yellow;
}
.about .link {
 text-decoration: underline;
 color: white;
 cursor: pointer;
}

menuitem.menuhead {
 background: gray;
 color: black;
 font-weight: bold;
}

div#searchresult_description {
 min-height: 5em; max-height: 8em;
 overflow: auto;
 font-size: 90%;
 margin: 0.1ex 0.5ex;
}

#copying div {
 margin: 1ex 1em;
 font-family: courier, monospace;
 font-size: 9pt;
 padding: 2px;
 border: dotted 1px gray;
 background: white;
}

label#search_page {
 font-weight: bold;
 background: white; color: #404040;
 border-color: #c0c0c0 #404040 #404040 #c0c0c0;
 border-style: solid;
 border-width: 1px;
 -moz-border-radius: 1em;
 padding: 0.5ex 1ex;
}

html body {
 font-family: arial, sans-serif;
 font-size: 11pt;
 margin: 1em 4em;
 padding: 1em 4em;
 border: double 3px gray;
 background: #ffffc0;
}
html h1 {
 font-size: 130%; color: maroon;
}
html p {
 text-align: justify;
}

html div.copyright {
 font-size: 60%;
 text-align: right;
}
html div.copyright a {
 text-decoration: none;
}

button.lean {
 min-width: 1ex;
}
